{% extends "base.html" %}
{% block content %}
    <main>
        <section class="container my-5 px-4">
            <div class="container">
                <div class="row ">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        <p class="text-center">
                        <h5 class="text-center">Ошибка сервера</h5>
                        </p>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}